{% extends 'base.html' %}
{% load static %}

{% block title %}{{ projects.name }}{% endblock title %}

{% block body %}

   <main>
      <!--? Hero Start -->
      <div class="slider-area2">
         <div class="slider-height2 d-flex align-items-center">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-12">
                           <div class="hero-cap hero-cap2 pt-20 text-center">
                              <h2>Project Details</h2>
                           </div>
                     </div>
                  </div>
               </div>
         </div>
      </div>
      <!-- Hero End -->
      <!--? Blog Area Start -->
      <section class="blog_area single-post-area section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 posts-list">
                  <div class="single-post">
                     <div class="feature-img">
                        <img class="img-fluid" src="{{ projects.image.url }}" alt="{{ projects.name }}">
                     </div>
                     <div class="blog_details">
                        <h2 style="color: #2d2d2d;">{{ projects.name }}
                        </h2>

                        <p class="excert">
                          {{ projects.description | safe}}
                        </p>

                     </div>
                  </div>

               </div>
                  <div class="col-lg-4">
                        <div class="blog_right_sidebar">


                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>
                               {% for recent in recent_post %}
                                <div class="media post_item">
                                    <img style="width:20%; height:auto;" src="{{ recent.image.url }}" alt="{{ recent.name }}">

                                    <div class="media-body">
                                        <a href="{% url 'projects_detail' recent.slug%}">
                                            <h3 style="color: #2d2d2d;max-width:100%; height:auto;">{{ recent.name }}</h3>
                                        </a>
                                        <p style="max-width:100%; height:auto;">{{ recent.date }}</p>
                                       <p style="color: #2d2d2d;max-width:100%; height:auto; font-weight:bold">{{ recent.category }}</p>
                                    </div>
                                </div>
                               {% endfor %}

                            </aside>

                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">Recent Jobs</h3>
                                {% for recent in recent_jobs %}
                                <div class="media post_item">
                                    <img style="width:20%; height:auto;" src="{{ recent.image.url }}" alt="{{ recent.name }}">

                                    <div class="media-body">
                                        <a href="{% url 'career_detail' recent.slug%}">
                                            <h3 style="color: #2d2d2d;max-width:100%; height:auto;">{{ recent.name }}</h3>
                                        </a>
                                        <p style="max-width:100%; height:auto;">{{ recent.date }}</p>
                                       <p style="color: #2d2d2d;max-width:100%; height:auto; font-weight:bold">{{ recent.position }}</p>
                                    </div>
                                </div>
                               {% endfor %}

                            </aside>


                        </div>
                    </div>
            </div>
         </div>
      </section>
      <!-- Blog Area End -->
   </main>
{% endblock body %}