{% extends 'base.html' %}
{% load static %}

{% block body %}

    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>Blog</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Blog Area Start-->
        <div class="container">
            <div class="row">

                <form action="" method='get'>
                {% csrf_token %}
                <h2 style="color:black; font-size:22px;font-weight: bold;">FILTER EITHER VIDEOS,STORIES OR ACTIVITIES.</h2>
                {{ myfilter.form }}
            <button type="submit" class="btn btn-secondary btn-sm">Search</button>
                </form>

            </div>
            </div>
            </div>
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                            {% for content in ourimpacts %}
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="{{ content.image.url }}" alt="{{ content.name }}">
                                    <a href="{% url 'ourimpacts_detail' content.slug%}" class="blog_item_date">

                                        <p>{{ content.date }}</p>
                                    </a>
                                </div>
                                <div class="blog_details">
                                    <a class="d-inline-block" href="blog_details.html">
                                        <h2 class="blog-head" style="color: #2d2d2d;">{{ content.name }}</h2>
                                    </a>
                                  {% autoescape off %}  <p>{{ content.description | slice:80}}</p>{% endautoescape off %}
                                    <ul class="blog-info-link">
                                        <li><i class="fa fa-bars"></i> {{ content.category }}</li>
                                        <li><a href="{% url 'ourimpacts_detail' content.slug%}"><i class="fa fa-eye"></i> Read More...</a></li>
                                    </ul>
                                </div>
                            </article>
                        {% endfor %}
{% if ourimpacts_list.has_other_pages %}
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    {% if ourimpacts_list.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{ ourimpacts_list.previous_page_number }}" class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                  {% for num in ourimpacts_list.paginator.page_range %}
                                    {% if ourimpacts_list.number == num %}
                                    <li class="page-item active">
                                        <a href="?page={{ num }}" class="page-link">{{ num }}</a>
                                    </li>
                                {% endif %}
                                    {% endfor %}
                                     {% if ourimpacts_list.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{ ourimpacts_list.next_page_number }}" class="page-link" aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
{% endif %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">


                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>
                                {% for recent in recent_post %}
                                <div class="media post_item">
                                    <img style="width:20%; height:auto;" src="{{ recent.image.url }}" alt="{{ recent.name }}">

                                    <div class="media-body">
                                        <a href="{% url 'ourimpacts_detail' recent.slug%}">
                                            <h3 style="color: #2d2d2d;max-width:100%; height:auto;">{{ recent.name }}</h3>
                                        </a>
                                        <p style="max-width:100%; height:auto;">{{ recent.date }}</p>
                                       <p style="color: #2d2d2d;max-width:100%; height:auto; font-weight:bold">{{ recent.category }}</p>
                                    </div>
                                </div>
                               {% endfor %}

                            </aside>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Area End -->
    </main>
   {% endblock body %}